body {
    margin: 0;
}

#icon {
    height: 10vh;
    width: 10vw;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.header-section{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#color{
    margin-top: 23px;
}

#header-tool-bar{
    display:block;
}

#WIDTHUP,#WIDTHDOWN{
    margin-top: 10px;
    margin-left: 10px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#arrowup,#arrowdown{
    font-size: 10px;
    width: 30px;
    text-align: center;
}

#valuebox{
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
    width: 50px;
    text-align: center;
}

#zoomvalue{
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
    width: 50px;
    text-align: center;
}


.header-bigicon{
    height: 40px;
    margin-left: 5px;
    margin-top: 15px;
    width: 40px;
    display:flex;
    align-content: center;
    padding: 10px;
    cursor: pointer;
}

.header-section i{
    font-size: 15px;
}

header i {
    color: white;
    font-size: 40px;
    margin: auto auto;
}

header {
    background-color: #555;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 11;
    display: flex;
}

#tool-bar {
    height: 90vh;
    width: 6vw;
    max-width: 60px;
    top: 10vh;
    background-color: orange;
    position: fixed;
    z-index: 10;
    overflow: auto;
}

#display {
    height: 60px;
    width: 60px;
    top: 10vh;
    left: 75px;
    background-color: #668ad8;
    position: fixed;
    z-index: 10;
}


#display div {
    cursor: pointer;
    font-size: 25px;
    color: white;
    padding: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 5px;

}

i.material-icons {
    font-size: 30px;
}

#tool-bar div {
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 5px;
    width: 5vw;
    max-width: 50px;
    height: 5vw;
    max-height: 50px;
    text-align: center;
    margin: 5px;
}

.press-btn{
    background: #668ad8;/*Button Color*/
    border-bottom: solid 4px #627295;/*Button shadow*/
    border-radius: 3px;
}
.press-btn.active {/*on Click*/
    background: #5C78B9;/*Button Color change to darker*/
    transform: translateY(4px);/*Move down*/
    border-bottom: none;/*Button shadow disappear*/
}

div.frame {
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* disable this to enable scolling in canvas */
}

canvas {
    background-color:transparent;
    position: absolute;
     /* Move initial view to the center of the canvas */
    left: -1000px;
    top: -1500px;
}

#canvas-real, #canvas-draft {
    border: solid;
}

i.fas.fa-square{
    display: none;
}
i.fas.fa-braille{
    display: none;
}

